/* Container styling */
.grade-page {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.grade-page h2 {
    text-align: center;
    color: #4caf50; /* Dark green text color */
    margin-bottom: 10px;
}

/* Paragraph styling */
.grade-page p {
    color: #4caf50; /* Dark green text color */
}

/* Table styling */
.grade-page table {
    border-collapse: collapse;
    width: 100%; /* Make table full width */
}

.grade-page th,
.grade-page td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: rgba(255, 165, 0, 0.1);
    white-space: nowrap; /* Prevent text from wrapping */
}

.grade-page th {
    width: 1%; /* Minimal width */
}

.grade-page tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Form controls */
.grade-page .grade-form .Form.Control {
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Button styling */
.grade-button {
    background-color: #4caf50; /* Dark green */
    border-color: #4caf50; /* Dark green */
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.grade-button:hover {
    background-color: #388e3c; /* A shade darker green */
}

/* Definition section */
.grade-page .mt-3 {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container of the table */
.grade-form {
    overflow-y: auto; /* Add vertical scroll */
    max-height: 500px; /* Change this to your desired maximum height */
}
  
/* Styles for the table header */
.grade-form thead th {
    position: sticky;
    top: 0;
    background-color: white; /* Ensures the header's background isn't transparent */
    z-index: 10;
}
